<ion-header [translucent]="true">
  <ion-toolbar color="my-color">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button (click)="goToHome()" class="btn">Go to home</button>
  </div>

  <ion-list *ngIf="permission">
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img alt="avatar" src="/assets/customers/{{user.image}}" />
      </ion-avatar>
      <ion-label>
        <h3>{{user.name}}</h3>
        <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permission"
    >No tienes permisos para ver los clientes</ion-label
  >
</ion-content>
