<ion-header [translucent]="true">
  <ion-toolbar color="my-color">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button (click)="goToHome()" class="btn">Go to home</button>
  </div>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img alt="avatar" src="../../assets/customers/avatar.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Ideal</h3>
        <p>Mega Man X</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
