// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-my-color: #69bb7b;
  --ion-color-my-color-rgb: 105, 187, 123;
  --ion-color-my-color-contrast: #000000;
  --ion-color-my-color-contrast-rgb: 0, 0, 0;
  --ion-color-my-color-shade: #5ca56c;
  --ion-color-my-color-tint: #78c288;
}
