<ion-header [translucent]="true">
  <ion-toolbar color="my-color">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button [routerLink]="['/customers']" class="btn">Go to customers</button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="text" sizeLg="4" sizeMd="4" sizeXs="8">Text 1</ion-col>
      <ion-col class="text">Text 2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">Text 3</ion-col>
      <ion-col class="text">Text 4</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
